In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [4]:
mydataset = {
    'cars': ["BMW", "VOLVO", "FORD"],
    'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  VOLVO         7
2   FORD         2

In [5]:
print(pd.__version__)

2.0.3

In [7]:
a = [1, 7, 2]
myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

x    1
y    7
z    2
dtype: int64

In [8]:
calories = {"day1":420, "day2":330, "day3":500}
myvar = pd.Series(calories)

print(myvar)

day1    420
day2    330
day3    500
dtype: int64

In [12]:
data = {
    "calories" : [100, 200, 300],
    "duration" : [10, 20, 30]
}

myvar = pd.DataFrame(data)

print(myvar)

   calories  duration
0       100        10
1       200        20
2       300        30

In [13]:
data = {
    "calories" : [100, 200, 300],
    "duration" : [10, 20, 30]
}

myvar = pd.Series(data)
print(myvar)

calories    [100, 200, 300]
duration       [10, 20, 30]
dtype: object

In [16]:
#dataframe
data = {
    "calories" : [100, 200, 300],
    "duration" : [10, 20, 30]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])
print(df)

print(df.loc["day1"])

      calories  duration
day1       100        10
day2       200        20
day3       300        30
calories    100
duration     10
Name: day1, dtype: int64

In [19]:
df = pd.read_csv('/kaggle/input/csv-files/start_station_name.csv')
print(df.to_string)

<bound method DataFrame.to_string of                            end_station_name
0                  Derry Street, Kensington
1              Buckingham Gate, Westminster
2            Clerkenwell Green, Clerkenwell
3            Clerkenwell Green, Clerkenwell
4                  Clifford Street, Mayfair
...                                     ...
302312            Sancroft Street, Vauxhall
302313           Regent's Row , Haggerston
302314  Rotherhithe Roundabout, Rotherhithe
302315             Boston Place, Marylebone
302316        Northumberland Avenue, Strand

[302317 rows x 1 columns]>

In [20]:
print(df)

                           end_station_name
0                  Derry Street, Kensington
1              Buckingham Gate, Westminster
2            Clerkenwell Green, Clerkenwell
3            Clerkenwell Green, Clerkenwell
4                  Clifford Street, Mayfair
...                                     ...
302312            Sancroft Street, Vauxhall
302313           Regent's Row , Haggerston
302314  Rotherhithe Roundabout, Rotherhithe
302315             Boston Place, Marylebone
302316        Northumberland Avenue, Strand

[302317 rows x 1 columns]

In [21]:
print(pd.options.display.max_rows)

60

In [23]:
data = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":148,
    "5":127
  },
  "Calories":{
    "0":409,
    "1":479,
    "2":340,
    "3":282,
    "4":406,
    "5":300
  }
}

df = pd.DataFrame(data)
print(df)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

In [24]:
print(df.head())

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406

In [25]:
print(df.tail())

   Duration  Pulse  Maxpulse  Calories
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

In [26]:
print(df.head(3))

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340

In [32]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  6 non-null      int64
 1   Pulse     6 non-null      int64
 2   Maxpulse  6 non-null      int64
 3   Calories  6 non-null      int64
dtypes: int64(4)
memory usage: 240.0+ bytes
None

In [28]:
#dropping rows with empty cells
new_df = df.dropna()
print(new_df.to_string)

<bound method DataFrame.to_string of    Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300>

In [34]:
#dropna(inplace = True) will NOT return a new DataFrame, but it will remove all rows containing NULL values from the original DataFrame
new_df = df.dropna(inplace = True)
print(new_df)

None

In [36]:
#Replace Empty Values
new_df.fillna(100, inplace = True)
#Replace NULL values in the "Calories" columns with the number 130:
df["Calories"].fillna(130, inplace = True)

AttributeError: 'NoneType' object has no attribute 'fillna'

In [43]:
df = pd.read_csv('/kaggle/input/w3school-pandas/data.csv')
x = df["Calories"].mean()
df["Calories"].fillna(x, inplace = True)
print(df)
print(x)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]
375.79024390243904

In [44]:
y = df["Calories"].median()
df["Calories"].fillna(y, inplace = True)
print(df)
print(y)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]
321.0

In [45]:
df['Date'] = pd.to_datetime(df.['Data'])
print(df.to_string)

SyntaxError: invalid syntax (1247493273.py, line 1)