In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/csv-files/start_station_name.csv
/kaggle/input/w3school-pandas/data.csv
/kaggle/input/json-files/labels_my-project-name_2023-07-03-06-57-40.json

In [3]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd

In [5]:
mydataset = {
    'cars': ["BMW", "VOLVO", "FORD"],
    'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  VOLVO         7
2   FORD         2

In [6]:
print(pd.__version__)

2.0.3

In [7]:
a = [1, 7, 2]
myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

x    1
y    7
z    2
dtype: int64

In [8]:
calories = {"day1":420, "day2":330, "day3":500}
myvar = pd.Series(calories)

print(myvar)

day1    420
day2    330
day3    500
dtype: int64

In [9]:
data = {
    "calories" : [100, 200, 300],
    "duration" : [10, 20, 30]
}

myvar = pd.DataFrame(data)

print(myvar)

   calories  duration
0       100        10
1       200        20
2       300        30

In [10]:
data = {
    "calories" : [100, 200, 300],
    "duration" : [10, 20, 30]
}

myvar = pd.Series(data)
print(myvar)

calories    [100, 200, 300]
duration       [10, 20, 30]
dtype: object

In [11]:
#dataframe
data = {
    "calories" : [100, 200, 300],
    "duration" : [10, 20, 30]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])
print(df)

print(df.loc["day1"])

      calories  duration
day1       100        10
day2       200        20
day3       300        30
calories    100
duration     10
Name: day1, dtype: int64

In [12]:
df = pd.read_csv('/kaggle/input/csv-files/start_station_name.csv')
print(df.to_string)

<bound method DataFrame.to_string of                            end_station_name
0                  Derry Street, Kensington
1              Buckingham Gate, Westminster
2            Clerkenwell Green, Clerkenwell
3            Clerkenwell Green, Clerkenwell
4                  Clifford Street, Mayfair
...                                     ...
302312            Sancroft Street, Vauxhall
302313           Regent's Row , Haggerston
302314  Rotherhithe Roundabout, Rotherhithe
302315             Boston Place, Marylebone
302316        Northumberland Avenue, Strand

[302317 rows x 1 columns]>

In [13]:
print(df)

                           end_station_name
0                  Derry Street, Kensington
1              Buckingham Gate, Westminster
2            Clerkenwell Green, Clerkenwell
3            Clerkenwell Green, Clerkenwell
4                  Clifford Street, Mayfair
...                                     ...
302312            Sancroft Street, Vauxhall
302313           Regent's Row , Haggerston
302314  Rotherhithe Roundabout, Rotherhithe
302315             Boston Place, Marylebone
302316        Northumberland Avenue, Strand

[302317 rows x 1 columns]

In [14]:
print(pd.options.display.max_rows)

60

In [15]:
data = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":148,
    "5":127
  },
  "Calories":{
    "0":409,
    "1":479,
    "2":340,
    "3":282,
    "4":406,
    "5":300
  }
}

df = pd.DataFrame(data)
print(df)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

In [16]:
print(df.head())

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406

In [17]:
print(df.tail())

   Duration  Pulse  Maxpulse  Calories
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

In [18]:
print(df.head(3))

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340

In [19]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  6 non-null      int64
 1   Pulse     6 non-null      int64
 2   Maxpulse  6 non-null      int64
 3   Calories  6 non-null      int64
dtypes: int64(4)
memory usage: 240.0+ bytes
None

In [20]:
#dropping rows with empty cells
new_df = df.dropna()
print(new_df.to_string)

<bound method DataFrame.to_string of    Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300>

In [21]:
#dropna(inplace = True) will NOT return a new DataFrame, but it will remove all rows containing NULL values from the original DataFrame
new_df = df.dropna(inplace = True)
print(new_df)

None

In [22]:
#Replace Empty Values
new_df.fillna(100, inplace = True)
#Replace NULL values in the "Calories" columns with the number 130:
df["Calories"].fillna(130, inplace = True)

AttributeError: 'NoneType' object has no attribute 'fillna'

In [ ]:
df = pd.read_csv('/kaggle/input/w3school-pandas/data.csv')
x = df["Calories"].mean()
df["Calories"].fillna(x, inplace = True)
print(df)
print(x)

In [ ]:
y = df["Calories"].median()
df["Calories"].fillna(y, inplace = True)
print(df)
print(y)

In [ ]:
df['Date'] = pd.to_datetime(df.['Data'])
print(df.to_string)

In [ ]:
#importing pandas and datas
result_data = {'name': ['Subramanian', 'Mallika', 'Karthika', 'Manju', 'Kousalya', 'Keerthana'],
              'score': [100, 100, 95, 95, 90, 85],
              'age': [50, 48, 29, 27, 25, 19],
              'qualify-label': ['yes', 'no', 'yes', 'no', 'yes', 'no']}

#creating dataframes
df = pd.DataFrame(result_data, index=None)

#computing number of rows
rows = len(df.axes[0])

#computing number of columns
columns = len(df.axes[1])

print(df)
print("Number of rows: ", rows)
print("Number of columns: ", columns)

In [23]:
df = pd.DataFrame({'name': ['Subramanian', 'Mallika', 'Karthika', 'Manju', 'Kousalya', 'Keerthana'],
              'score': [100, 100, 95, 95, 90, 85],
              'age': [50, 48, 29, 27, 25, 19],
              'qualify-label': ['yes', 'no', 'yes', 'no', 'yes', 'no']})
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           6 non-null      object
 1   score          6 non-null      int64
 2   age            6 non-null      int64
 3   qualify-label  6 non-null      object
dtypes: int64(2), object(2)
memory usage: 320.0+ bytes
None

In [24]:
print(len(df))
print(len(df.columns))

6
4

In [26]:
df = pd.read_csv('https://raw.githubusercontent.com/uiuc-cse/data-fa14/gh-pages/data/iris.csv')

print(df.head())

#obtaining the shape
print("shape of the dataframe is ",df.shape)

#obtaining the number of rows
print("Number of rows : ",df.shape[0])

#obtaining the number of columns
print("Number of columns : ", df.shape[1])

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
shape of the dataframe is  (150, 5)
Number of rows :  150
Number of columns :  5

print(df.size)

In [29]:
print(df[df.columns[0]].count())
print(len(df.index))

150
150